<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.dao.UserMapper">
    <select id="findUser" parameterType="String"
            resultType="user">
        select * from user where username= #{username} and password=#{password}
    </select>
    <select id="addUser" parameterType="user">
        insert into user (username,password) values (#{username},#{password})
    </select>
</mapper>